/* Algemene stijlen voor grote schermen (desktop) */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #0D1B2A; /* Donkerblauwe achtergrond voor de hele pagina */
    color: white;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden; /* Verberg horizontaal scrollen */
}

.container {
    display: flex;
    min-height: 100vh;
    max-width: 1200px;
    margin: 0 auto; /* Centreert de container op de pagina */
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    background-color: #0D1B2A;
    box-sizing: border-box;
}

.sidebar {
    background-color: #1B263B;
    width: 450px; /* Absolute breedte voor sidebar */
    padding: 20px;
    margin-right: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.article {
    background-color: #1B263B;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: transform 0.3s ease;
}

.article:hover {
    transform: translateY(-5px);
}

a {
    color: white;
    text-decoration: none;
    background-color: #2C3E50;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-size: 14px;
}

a:hover {
    background-color: #34495E;
}

.sidebar ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin-right: 10px;
    margin-bottom: 10px;
}

/* Stijlen voor kleine schermen (mobiel) */
@media (max-width: 768px) {
    .container {
        width: 100%; /* Container neemt volledige breedte in */
        flex-direction: column; /* Zet de items onder elkaar op mobiel */
        align-items: center;
        padding: 10px; /* Kleinere padding rondom de container */
    }
    .sidebar {
        width: 100%; /* Sidebar neemt de volledige breedte in op mobiel */
        margin-bottom: 10px; /* Voeg ruimte toe tussen de sidebar en de main content */
        box-shadow: none; /* Optioneel: verwijder schaduwen voor een vlakkere look */
    }
    .main-content {
        width: 100%; /* Hoofdinhoud neemt volledige breedte in op mobiel */
    }
    .article {
        width: 100%; /* Artikelen nemen volledige breedte in op mobiel */
        padding: 15px; /* Iets kleinere padding om ruimte te besparen op kleine schermen */
    }

    img.profile-photo {
        width: 80px; /* Kleinere profielfoto op mobiel */
        height: 80px;
    }

    h3 {
        font-size: 1.2em; /* Iets kleinere koptekst voor mobiel */
    }
}
